<section>
<h2> About Us </h2>
<p> We are a small team of developers who are passionate about building great web applications. </p>
<p> This project was a team project to showcase our ability to work with MySQL,Express, Sequelize, and Handlebars.</p>
<p> We hope you enjoy our application. </p>
</section>

{{! Path: views\contact.handlebars }}