{{!-- form to add new reviews --}}
<section>
    <h2>{{username}}</h2>
    <h3>Add a review,  <span id="user">{{username}}</span></h3>
    <h3>Add a review for game <span id="review_game">{{game.game_name}}</span></h3>
    <div class=”rating”>
{{!-- <!–Input box for making star –> --}}

    <form id="new-review-form">

<h4> Rating for Game: </h4>
<div class="rating-container">
  <input type="radio" class="radio-star" name="rate" id="rate-5" value="5">
  <label for="rate-5" class="fa-solid fa-star"></label>
  <input type="radio" class="radio-star" name="rate" id="rate-4" value="4">
  <label for="rate-4" class="fa-solid fa-star"></label>
  <input type="radio" class="radio-star" name="rate" id="rate-3" value="3">
  <label for="rate-3" class="fa-solid fa-star"></label>
  <input type="radio" class="radio-star" name="rate" id="rate-2" value="2">
  <label for="rate-2" class="fa-solid fa-star"></label>
  <input type="radio" class="radio-star" name="rate" id="rate-1" value="1">
  <label for="rate-1" class="fa-solid fa-star"></label>
</div>

        <label for="review_title">Review Title</label>
        <input type="text" name="review_title" id="review_title">
        <label for="review_text">Review Text</label>
        <input type="text" name="review_text" id="review_text">
        
        <!-- default value is the game name -->
        <input type="hidden" name="review_game_id" id="review_game_id" value="{{game.id}}"/>

        <button type="submit">Submit</button>
    </form>
</section>

<script src="/js/newreview.js"></script>