{{!-- form to add new reviews --}}
<section>
    <h2>{{user.username}}</h2>
    <h3>Add a review user number <span id="review_user">{{user.id}}</span></h3>
    <form>
        <label for="review_title">Review Title</label>
        <input type="text" name="review_title" id="review_title">
        <label for="review_text">Review Text</label>
        <input type="text" name="review_text" id="review_text">
        <label for="review_game_id">Review Game name</label>
        <input type="text" name="review_game_name" id="review_game_name">
        <button type="submit">Submit</button>
    </form>
</section>
<script src="./js/newreview.js"></script>