<section>
    <h2 class="card-title">All Genres</h2>
    <ul>
        {{#each genres as |genre|}}
        <li>Genre name: <a href="./genres/{{genre.id}}">{{genre.genre_name}}</a></li>
        {{/each}}
</section>