<section>
    <h2 class="card-title">All Genres</h2>
    <ul>
        {{#each genres as |genre|}}
        <li><a href="./genres/{{genre.id}}"><span class="badge bg-light text-black fs-6 m-2 rounded-pill bg-info-subtle">{{genre.genre_name}}</span></a></li>
    
        {{/each}}
</section>