

<section>
    <h2 class="card-title"> All Categories</h2>
    <ul>
        {{#each categories as |category|}}
        <li>Category: <a href="./categories/{{category.id}}">{{category.category_name}}</a></li>
        <li>in genre:{{category.genre.genre_name}}</li>
        {{/each}}
    </ul>
</section>