<section>
    <h2 class="card-title">All Platforms</h2>
    <ul>
        {{#each platforms as |platform|}}
        <li><a href="./platforms/{{platform.id}}"><span class="badge bg-info-subtle text-black fs-6 m-2 rounded-pill ">{{platform.platform_name}}</span></a></li>
        {{/each}}

</section>