<section>
    <p class="card-title"> This is all-platforms.handlebars!</p>
    <ul>
        {{#each platforms as |platform|}}
        <li>Platform name: {{platform.platform_name}}</li>
        {{/each}}
</section>