<section>
    <h2 class="card-title"> All Games</h2>
    <ul>
        {{!-- will show the games --}}
        {{#each games as |game|}}
        <li>Game name: <a href="./games/{{game.id}}">{{game.game_name}}</a></li>
        <li>Game category: {{game.category.category_name}}</li>
        {{/each}}
</section>