<section>
    <h2 class="card-title">All Genres</h2>
    <ul>
        {{#each genres as |genre|}}
                    <div class="d-inline-flex col" style="width: 15rem;">
                <div class="d-inline-flex row" style="width: 20rem;">
        <li><a href="./genres/{{genre.id}}"><span class="badge bg-light text-black fs-5 m-2 rounded-pill">{{genre.genre_name}}</span></a></li>
                </div>
            </div>
        {{/each}}
</section>