<section>
    <h2 class="card-title">All Platforms</h2>
    <ul>
        {{#each platforms as |platform|}}
        <li>Platform name: <a href="./platforms/{{platform.id}}">{{platform.platform_name}}</a></li>
        {{/each}}

</section>