<section>
    <h2 class="card-title"> All Developers</h2>
    <ul>
        {{#each developers as |developer|}}
        <li><a href="./developers/{{developer.id}}"><span class="badge bg-info-subtle text-black m-2  rounded-pill fs-5">{{developer.developer_name}}</span></a></li>
        
        {{!-- <li>Developer id number: {{developer.developer_id}}</li> --}}
        {{/each}}
</section>