<section>
    <h2 class="card-title">All Platforms</h2>
    <ul>
        {{#each platforms as |platform|}}
         <div class="d-inline-flex col" style="width: 25rem;">
                <div class="d-inline-flex row" style="width: 20rem;">

        <li><a href="./platforms/{{platform.id}}"><span class="badge bg-light text-black fs-5 m-2 rounded-pill ">{{platform.platform_name}}</span></a></li>
       </div>
       </div>
       
        {{/each}}

</section>