<section>
    <p> This is all-platforms.handlebars!</p>
    <ul>
        {{#each platforms as |platform|}}
        <li>Platform name: {{platform.platform_name}}</li>
        <li>Platform id number: {{platform.platform_id}}</li>
        {{/each}}
</section>