<section>
    <p> This is all-developers.handlebars!</p>
    <ul>
        {{#each developers as |developer|}}
        <li>Developer name: {{developer.developer_name}}</li>
        <li>Developer id number: {{developer.developer_id}}</li>
        {{/each}}
</section>