<section>
    <p class="card-title"> This is all-games.handlebars!</p>
    <ul>
        {{!-- will show the games --}}
        {{#each games as |game|}}
        <li>Game name: {{game.game_name}}</li>
        <li>Game category: {{game.category.category_name}}</li>
        {{/each}}
</section>