{{!-- will show categories --}}
<section>
    <h2 class="card-title">Category name: {{category.category_name}}</h2>
    <p>Category genre: {{category.genre.genre_name}}</p>


    {{#each games as |game|}}
    {{log game}}
    <ul>
        <li>Game name: {{game.game_name}}</li>
    </ul>
    {{/each}}

</section>