{{!-- will show categories --}}
<section>
    <p>This is category .handlebars</p>
    <ul>
        <li>Category name: {{category.category_name}}</li>
        <li>Category genre id number: {{category.genre_id}}</li>
    </ul>
</section>