{{!-- will show categories --}}
<section>
    <p class="card-title">This is category .handlebars</p>
    <ul>
        <li>Category name: {{category.category_name}}</li>
        <li>Category genre: {{category.genre.genre_name}}</li>
    </ul>
</section>