<section>
    <h2> Contact Us </h2>
    <p> Please feel free to checkout our other projects on GitHub: </p>
    <ul>
        <li> <a href="https://github.com/phadeline"> Phadeline </a> </li>
        <li> <a href="https://github.com/joeyblue27"> Joey </a> </li>
        <li> <a href="https://github.com/ryancarless96"> Ryan </a> </li>
        <li> <a href="https://github.com/lesley-byte"> Lesley </a> </li>
    </ul>

</section>