<section>
    <h2>Cookie Policy</h2>
    <p>Our website uses cookies to improve your experience.
       <h4><strong> Cookies </strong>   </h4>
We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site. For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site. Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. Usage of a cookie is in no way linked to any personally identifiable information on our site. 

    </p>
</section>