{{!-- will show developers --}}
<section>
    <h2 class="card-title">Games made by: {{developer.developer_name}}</h2>


    {{#each games as |game|}}
    <ul>
        <li>Game name: <a href='../games/{{game.id}}'>{{game.game_name}}</a></li>
    </ul>
    {{/each}}

</section>