{{!-- will show the games --}}
<section>
    <h2 class="card-title">Game name: {{game.game_name}}</h2>
    
    <p>Game developer: {{game.developer.developer_name}}</p>
    <p>Game category: {{game.category.category_name}}</p>
  <h3>Reviews: </h3>

    <ul>
    {{#each reviews as |review|}}
        <li>Review title: {{review.review_title}}</li>
    {{/each}}
    </ul>
</section>