{{!-- will show the games --}}
<section>
    <p>This is game.handlebars</p>
    <ul>
        <li>Game name: {{game.game_name}}</li>
        <li>Game developer id number: {{game.developer_id}}</li>
        <li>Game category id number: {{game.category_id}}</li>
    </ul>
</section>