{{!-- will show the games --}}
<section>
    <p>This is game.handlebars</p>
    <ul>
        <li>Game name: {{game.game_name}}</li>
        <li>Game developer: {{game.developer.developer_name}}</li>
        <li>Game category: {{game.category.category_name}}</li>
    </ul>
</section>