{{!-- will show the genres --}}
<section>
    <h2 class="card-title">{{genre.genre_name}}</h2>

{{#each categories as |category|}}
    <ul>
        <li>Category name: {{category.category_name}}</li>
    </ul>
{{/each}}

</section>