{{!-- will show the genres --}}
<section>
    <h2 class="card-title">{{genre.genre_name}}</h2>

{{#each categories as |category|}}
    <ul>
        <li>Category name: <a href='../categories/{{category.id}}'>{{category.category_name}}</a></li>
    </ul>
{{/each}}

</section>