<section class="card-title"> 
    This is homepage.handlebars 
    {{#each reviews as |review|}}
    <a href="/reviews/update/{{review.id}}">

    <p> this is the title: {{review.review_title}} </p>
    </a>
    <a href="/reviews/delete/{{review.id}}">Delete?</a>
    {{/each}}
</section>