<section class="card-title"> 
    This is my list of reviews: 
    {{#each reviews as |review|}}
    <a href="/reviews/update/{{review.id}}">

    <p> Review Title: {{review.review_title}} </p>
    </a>
    <a href="/reviews/delete/{{review.id}}">Delete {{review.review_title}}?</a>
    {{/each}}
</section>