<section class=" fs-2"> 
    <h2 class="">This is my list of reviews: </h2>

    {{#each reviews as |review|}}
  <span class="fs-4">Review Title:</span><a class="fs-4" href="/reviews/update/{{review.id}}"> {{review.review_title}} </a>
    <p><a class="fs-5 text-danger" href="/reviews/delete/{{review.id}}">Delete {{review.review_title}}?</a></p>
    {{/each}}
</section>