<div class="row">
  <div class="col-sm-5 mb-3 mb-sm-0">

<div class="d-flex justify-content-start col">
<div class="row d-inline-flex">

<div class="accordion" style="width: 20rem" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Login
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">


    <div class="login-card card  row d-flex">
        <h2 class="page-title my-2">Login </h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email-login" class="form-label text-start">Email:</label>
                <input class="form-input m-2 form-control" type="email" placeholder="name@example.com" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login" class="form-label text-start">Password:</label>
                <input class="form-input form-control  m-2" type="password" placeholder="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary m-2" type="submit">login</button>
            </div>
        </form>
    </div>

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed text-primary bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Don't have an account? Signup!
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">


    <div class="login-card card  row d-flex">
        <h2 class="page-title my-2">Signup!</h2>
        <form class="form signup-form">
            <div class="form-group">
                <label for="username-signup" class="form-label text-start">Username:</label>
                <input class="form-input form-control m-2" type="text" id="username-signup" placeholder="username" />
            </div>
            <div class="form-group">
                <label for="email-signup" class="form-label text-start">Email:</label>
                <input class="form-input m-2 form-control" placeholder="name@email.com" type="email" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup" class="form-label text-start">Password:</label>
                <input class="form-input m-2 form-control" type="password" placeholder="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary m-2" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

      </div>
    </div>
  </div>
</div>

</div>
</div>
  <div class="col-sm-6" id="blueConsole">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="./blueConsoles.png" class="img-fluid rounded-start" alt="...">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Video Game Reviewer</h5>
        <p class="card-text">A place to share your views about video games, whatever the platform.  Learn what your friends love.</p>
        <p class="card-text"><small class="text-muted">Read reviews written by your friends...</small></p>
      </div>
    </div>
  </div>

</div>
</div>
</div>
<div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
  <strong>Cookie Policy</strong> We use cookies. By continuing to use this website, you agree to our <a href="/cookie">Cookie Policy</a>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="./js/login.js"></script>