{{!-- will show the platforms --}}
<section>
    <h2 class="card-title">Games for platform:{{platform.platform_name}}</h2>
    {{#each gameplatforms as |gameplatform|}}
        <p><a href='../games/{{gameplatform.game_id}}'>{{gameplatform.game.game_name}}</a></p>
    {{/each}}
    
</section>