<section>
    <h2>Privacy Policy</h2>
    <p>Our website uses cookies to improve your experience.</p>

    <p> 
        This privacy policy discloses the privacy practices for https://safe-eyrie-62856.herokuapp.com, which is operated by Video Game Reviewer. This privacy policy applies solely to information collected by this website. It will notify you of the following: 
<ul>
<li>1.	What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared. </li>
<li>2.	What choices are available to you regarding the use of your data. </li>
<li>3.	The security procedures in place to protect the misuse of your information. </li>
<li>4.	How you can correct any inaccuracies in the information. </li>
</ul>
<h4>Information Collection, Use, and Sharing </h4>
This is a practice website. Please do not enter any sensitive information. It will eventually be deleted. We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone. 
We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to answer a question, ship an order, etc. 
Unless you ask us not to, we may contact you via email in the future to tell you about new services or changes to this privacy policy. 
<h4>Your Access to and Control Over Information </h4>
We have no plans to share your information with any third party outside of our organization.
   • Express any concern you have about our use of your data. 
<h4>Security </h4>
This is a practice website. Please do not enter any sensitive information.  Everything is stored in a database that is not accessible to the public. We reserve the right to delete any information that is entered into the database.
We take precautions to protect your password. We only provide reviews and information. We never ask for credit card numbers, addresses, phone numbers, or any other personal information.
<h4>Updates </h4>
Our Privacy Policy may change from time to time and all updates will be posted on this page. 

    </p>
</section>