html {
    line-height: 1.5;

    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display:block;
}

h1{
    font-size: 2em;
    margin: 0.90em 0;
}

hr {
    box-sizing: content-box;

    height:0;

    overflow: visible;
}

pre {
    font-family: monospace, monospace;

    font-size: 1em;
}

/* a { */
    /* background-color: rgb(blue);
} */

